.mainLogin {
    max-width: 1366px;
    margin: 3% 10%;
    height: 100%;

    .containerLogin {
        width: 100%; 
        background-color: white;
        display: flex;
        color: #0c0c1d;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        
        .firstDivLogin {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 180%;

            h1 {
                font-size: 30px;
                padding: 10px;
                font-weight: bold;
                font-family: sans-serif;

            }
            p{
                font-size: 12px;
            }
            .form {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 20px 0px;

                .textbox{
                    margin-bottom: 5px;
                    font-weight: 300;
                }
                
                button {
                    margin-top: 20px;
                    font-size: 14px;
                    border-radius: 20px;
                    padding: 10px;  
                    width: 40%;
                    font-weight: 600;
                    background: linear-gradient(#5aebcc, #4b61dc);
                    color: white;
                }
            }
            .registerdiv{
                margin-top: 5px;
                font-size: 12px;
                font-weight: 400;
                color: #0c0c1d;

                span {
                    font-weight: 400;
                    color: #676eba;
                }
            }

        }

        .secondDivLogin {
            background-color: transparent;
            color: white;
            height: 500px;
            width: 100%;
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            align-items: center;
            background: linear-gradient(#08e6b6, #a3abd7);

            h1 {
                padding: 5px;
                font-weight: bold;
                font-size: 28px;
            }

            p{
                font-size: 15px;
            }

            .link {
                margin: 10px;
                color: black;
                background-color:white;
                font-size: 12px;
                border-radius: 20px;
                padding: 10px;
                width: 25%;
                font-weight: 600;
            }

        }
    }
}