.mainlogin {
    background-color: #7203a9   ;
    padding: 2% 10%;

.logincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
    min-width: 300px;
    min-height: 80vh;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;

    .firstDivLogin {
        display: flex;
        justify-content: center;
        flex-basis: 50%;
        min-height: 500px;
        align-items: center;
        flex-direction: column;
        background-color: white;


        h1 {
            font-size: 26px;
            padding: 10px;
            font-weight: bold;
            font-family: sans-serif;
        }

        p {
            font-size: 12px;
        }

        .form {
            display: flex;
            flex-direction: column;
            margin: 20px 0px;

            .textbox {
                margin-bottom: 5px;
                font-weight: 300;
                text-align: left;
            }

            span {
                font-size: 14px;
                font-weight: 400;
                color:blue;
                font-weight: 400;
                text-align: left;
            }

            button {
                margin-top: 20px;
                font-size: 14px;
                border-radius: 20px;
                padding: 10px;
                width: 100%;
                font-weight: 600;
                background: linear-gradient(#5aebcc, #4b61dc);
                color: white;
            }

            .logindiv {
                margin-top: 30px;
            }
        }
    }

    .secondDivLogin {
        // background-color: white;
        background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQz1h_-DHt_1j0BvXQcHrNCtwE8pxs5cbkMwA&s");
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        color: black;
        flex-basis: 50%;
        min-width: 300px;
        min-height: 500px;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        align-items: center;

        h1 {
            padding: 5px;
            font-weight: bold;
            font-size: 28px;
        }

        p {
            font-size: 15px;
        }

        .link {
            margin: 10px;
            color: black;
            background-color: white;
            font-size: 12px;
            border-radius: 20px;
            padding: 10px;
            width: 25%;
            font-weight: 600;
        }
    }

    @media screen and (max-width: 768px) {

        .firstDivLogin {
            flex-basis: 100%;

            h1 {
                font-size: 22px;
            }
        }

        .secondDivLogin {
            display: none;
        }
    }

    @media screen and (max-width: 500px) {
        .logincontainer {
            // Additional styles for smaller screens if needed
        }
    }
}
}