// body{
//     background-color: #eff0f0;
//     font-family: 'roboto';
// }

.forgotpasswordcontainer {
    margin: 3% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
    min-width: 300px;
    min-height: 80vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;

    .firstDiv {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-basis: 50%;
        min-height: 500px;
        background: linear-gradient(#08e6b6, #a3abd7);

        h1 {
            padding: 10px;
            font-size: 28px;
            font-weight: bold;
        }

        p {
            font-size: 15px;
            padding: 0px 40px;
            text-align: center;
            font-family: 'roboto';

        }

        .link {
            margin: 10px;
            color: black;
            background-color: white;
            font-size: 12px;
            border-radius: 20px;
            padding: 10px;
            width: 25%;
            text-align: center;
            font-weight: 600;
        }

    }

    .secondDiv {
        background-color: transparent;
        width: 100%;
        flex-basis: 50%;
        min-height: 500px;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        align-items: center;

        h1 {
            padding: 5px;
            font-weight: bold;
            font-size: 28px;
            font-family: sans-serif;
        }

        .links {
            padding: 10px;
            display: flex;
            justify-content: space-evenly;

            a {
                color: #06ab87;
            }
        }

        p {
            padding: 10px;
            font-size: 12px;
        }

        .emailform {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 10px 0px;

            .textbox {
                font-weight: 300;
            }
            button {
                margin-top: 10px;
                color: white;
                background: linear-gradient(#5aebcc, #4b61dc);
                border-radius: 20px;
                padding: 5px ;
                width: 100%;
                font-weight: 100;
                font-size: 14px;
                // font-family: 'Times New Roman', Times, serif;
            }
        }

       

        .logindiv {
            margin-top: 20px;
            font-size: 14px;
            font-weight: 400;
            color: #0c0c1d;

            span {
                font-weight: 700;
                color: #676eba;
            }
        }
    }

    @media screen and (max-width: 768px) {

        .firstDiv{
            display: none;
        }

        .secondDiv {
            flex-basis: 100%;
            
            button{
                min-width: 25%;
            }
        }

        .secondDivLogin {
            display: none;
        }
    }

    @media screen and (max-width: 500px) {
        
    }
}