.resetpasswordcontainer {
    margin: 3% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
    min-width: 300px;
    min-height: 70vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;

    .firstbox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-basis: 50%;
        min-height: 500px;

        h1 {
            font-size: 30px;
            padding: 10px;
            font-weight: bold;
            font-family: sans-serif;
        }

        p {
            font-size: 14px;
        }

        .form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 20px 0px;

            .textbox {
                margin-bottom: 10px;
                font-weight: 300
            }

            .button {
                margin-top: 10px;
                font-size: 14px;
                border-radius: 20px;
                padding: 10px;
                width: 100%;
                font-weight: 600;
                background: linear-gradient(#5aebcc, #4b61dc);
                color: white;
            }

            .logindiv {
                margin-top: 30px;
            }
        }

        .registerdiv {
            margin-top: 5px;
            font-size: 12px;
            font-weight: 400;
            color: #0c0c1d;

            span {
                font-weight: 400;
                color: #676eba;
            }
        }

    }

    .secondbox {
        background-color: transparent;
        color: white;
        flex-basis: 50%;
        min-height: 500px;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(#08e6b6, #a3abd7);

        h1 {
            padding: 5px;
            font-weight: bold;
            font-size: 28px;
        }

        p {
            font-size: 15px;
        }

        .link {
            margin: 10px;
            color: black;
            background-color: white;
            font-size: 12px;
            border-radius: 20px;
            padding: 10px;
            width: 25%;
            font-weight: 600;
        }

    }

    
    @media screen and (max-width: 768px) {

        .firstbox {
            flex-basis: 100%;
            min-height: 400px;
        }

        .secondbox {
            display: none;
        }
    }

    @media screen and (max-width: 500px) {
        .logincontainer {
            // Additional styles for smaller screens if needed
        }
    }
}